<section id="banner">
  <div class="content">
    <header>
      <h1>OpenStack Innovation Center DevOps Team</h1>
      <!-- <p>A snapshot of our work</p> -->
    </header>
    <span>This site offers a quick look into the work we are doing and activities of our team within the larger OpenStack community.<br />
    Take a moment to review our content and provide <a href="#">feedback</a> using the button below.</span>
    <!-- <ul class="actions">
      <li><a href="#" class="button big">Feedback</a></li>
    </ul> -->
  </div>
  <!-- <span class="image object">
    <img src="{{ "/images/openstack04.png" | relative_url }}" alt="" />
  </span> -->
</section>
