<section>
  <header class="major">
    <h2>Interesting Stuff</h2>
  </header>
  <div class="mini-posts">
    <article>
      <a href="http://www.cio.com/article/3172714/devops/virtual-assistants-move-into-devops.html" class="image"><img src="http://images.techhive.com/images/article/2017/02/voice-assisted-devops4-100709951-large.jpg" alt="" /></a>
      <p>Virtual assistants move into DevOps</p>
    </article>
    <article>
      <a href="http://www.techrepublic.com/article/how-to-monitor-the-apocalypse-using-big-data-devops/" class="image"><img src="https://tr3.cbsistatic.com/hub/i/r/2017/02/21/947b03c3-4fd2-4c40-86bc-7749c8afb81b/resize/770x/82aa9ab1eea804669cde2caa054c6bd3/logzkibana.png" alt="" /></a>
      <p>How to monitor the apocalypse using big data DevOps</p>
    </article>
    <article>
      <a href="https://techcrunch.com/2017/02/22/openstacks-latest-release-focuses-on-containers/" class="image"><img src="https://tctechcrunch2011.files.wordpress.com/2017/02/gettyimages-493420504.jpg?w=738" alt="" /></a>
      <p>OpenStack sets its sights on the next generation of private clouds</p>
    </article>
  </div>
  <!-- <ul class="actions">
    <li><a href="#" class="button">More</a></li>
  </ul> -->
</section>
