<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a href="{{ "/index.html" | relative_url }}">Home</a></li>
    <!-- <li><a href="generic.html">Generic</a></li>
    <li><a href="elements.html">Elements</a></li> -->
    <li>
      <span class="opener">Pike</span>
      <ul>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Planning</a></li>
        <li>
          <span class="iopener">Etherpads</span>
          <ul>
            <li><a href="#">pad0</a></li>
            <li><a href="#">pad1</a></li>
            <li><a href="#">pad2</a></li>
            <li><a href="#">pad3</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <span class="opener">Ocata</span>
      <ul>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Planning</a></li>
        <li>
          <span class="iopener">Etherpads</span>
          <ul>
            <li><a href="#">pad0</a></li>
            <li><a href="#">pad1</a></li>
            <li><a href="#">pad2</a></li>
            <li><a href="#">pad3</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
