<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div id="main">
          {{ content }}
        </div>
      </div>
    </main>

    {% include footer.html %}

    <!-- Scripts -->
      <script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
      <script src="{{ "/assets/js/jquery.poptrox.min.js" | relative_url }}"></script>
      <script src="{{ "/assets/js/skel.min.js" | relative_url }}"></script>
      <script src="{{ "/assets/js/util.js" | relative_url }}"></script>
      <!--[if lte IE 8]><script src="{{ "/assets/js/ie/respond.min.js" | relative_url }}"></script><![endif]-->
      <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
      <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
      </script>
  </body>

</html>
