---
layout: default
---
<h3>Ocata Epics</h3>
<ul class="topnav" id="myTopnav">
  <li><a href="https://goo.gl/51e29g">Deployment Architecture</a></li>
  <li><a href="https://goo.gl/Cx6LtF">Workload Definition</a></li>
  <li><a href="https://goo.gl/erWDBb">High Availability of Services</a></li>
  <li><a href="https://goo.gl/n8r0A4">Ease of Use: Novice Install</a></li>
</ul>

<div class="home">

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
